/* font-family: "Lato", sans-serif;
font-weight: 400;

 font-family: "Lato", sans-serif;
  font-weight: 700;

--

font-family: "Montserrat", sans-serif;

  */ 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
    font-size: 10px;
}
body{
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;

}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    

}
header h1{
    color:#fff;
    font-size: 6rem;
    text-transform: uppercase;
}
/*navbar */
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.container{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-items: center;
}
a {
    text-decoration: none;
}


nav {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: #2c3e4f;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: fixed;
    z-index: 500;
    
   
}
#logo_box{
    float: left ;
    padding-top: 0.5rem;
}
#logo_box .logo{
    color: white;
    font-weight: 700;
    font-family: 2.8rem;
}
#nav_links {
    float: right;
    
}
#nav_links .nav_item{
    float: left;
    margin: 0.5rem;
     list-style: none;
}
#nav_links .nav_link{
   
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.6rem ;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: color 0.5s;
}
#nav_links .nav_link:hover{
    color: #1abc9b;
}
.img_fluid {
    max-width: 256px;
    height: auto;
}
.img_fluid_p{
    max-width: 100%;
    height: auto;

}
header{background-color: #1abc9b;
height: 700px;
padding-top: 15rem;
text-align: center;
}
.star_light{
    border: none;
    border-top: 0.5rem solid white;
    border-radius: 10px;
    max-width: 25rem;
    margin: 2.5rem auto;
    overflow: visible;
    height: 0;
    
    }
.star_light::after{ 
    content: "\2605";
    color: #fff;
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;
    top: -28px;
    padding:0 8px ;
    background-color: #1abc9b;
    

}
.star_dark{
    border: none;
    border-top: 0.5rem solid #2d3d4f;
    border-radius: 10px;
    max-width: 25rem;
    margin: 2.5rem auto;
    overflow: visible;
    height: 0;

}
.star_dark::after{
    content: "\2605";
    color: #2c3e4f;
    background-color: #fff;
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;
    top: -28px;
    padding:0 8px ;
    
}
#portfolio{
    
    height: 600px;
    padding-top: 8rem;
    padding-bottom: 10rem;
    text-align: center;
   
}
.col{
    float: left;
    width: 33.333%;
    
    padding: 10px;
    
    
    
}
.portfolio_item{
   position: relative;

}
.portfolio_item img{
    display: block;
}
.img_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1abc9b;
    opacity: 0;
}
.img_overlay .icon{
    color: #fff;
    font-size: 7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.portfolio_item:hover .img_overlay {
    opacity: 0.8;
    transition: all 0.5s;


}