body{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin: 100px;
font-weight: 500;
font-weight: 500;
    background-color: #641B2E ;
margin: 0.5rem;

}

.nav_container{
    background-color: #BE5B50 ;
    position: sticky; top: 0;
    box-shadow: -0px 2px 5px 0.2rem;
  
    
    }
.nav1{
    display: flex;
    justify-content: center;
    gap: 3rem;
   
    
}
p{padding: 0.5rem;

;}
h1{font-size: 1.8rem;}
a {
border-radius: 50%;
}

a:hover{background-color: #8A2D3B;
transition: 0.6s all ease-out;}
.sinema{background-color: #FBDB93;
     border: #BE5B50 2px solid;
    padding: 1rem;
    
}

.edebiyat{background-color: #FBDB93;
    border: #BE5B50 2px solid;
    padding: 1rem;
}

.tiyatro{background-color: #FBDB93;
     border: #BE5B50 2px solid;
    padding: 1rem;
}
#img{padding: 50px;
    float: right;}